.chat-list {
    background-color: #f8f9fa;
    height: 100%;
    overflow-y: auto;
}
.chat-history {
    background-color: #fff;
    max-height: 500px;  /* adjust as needed */
    overflow-y: auto;
}

.chat-list .list-group {
    max-height: 500px;  /* adjust as needed */
    overflow-y: auto;
}

.chat-bubble {
    max-width: 70%;          /* bubble width limit */
    word-wrap: break-word;   /* wrap long words */
}